<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                  <name> {{ site.name }} </name>
              </h1>
              <p align="center">
                  <email> yanshen6 at msu dot edu </email>
              </p>

              <p>
              I am a PhD student at the <a href="https://cse.msu.edu/">Computer Science Department</a> at <a href="https://msu.edu/">Michigan State Univiersity</a>, where I work on unsupervised learning, AutoML and their applications. I am advised by <a href="https://www.egr.msu.edu/~mizhang/">Mi Zhang</a>.
              </p>
              <p>
                I got my M.S. in Computer Engineering from <a href="https://www.rwth-aachen.de/">RWTH Aachen University</a>, where I worked with  <a href="https://scholar.google.de/citations?user=6C8rf-0AAAAJ&hl=de">Hermann Ney</a> on face recognition and <a href="https://scholar.google.com/citations?user=NCdYnCAAAAAJ&hl=en">Jens-Rainer Ohm</a> on image hashing. I have a B.S. in Telecommunications engineering from <a href="https://en.xidian.edu.cn/">Xidian University</a>.
              </p>
              <p style="text-align:center">
              <a href="{{ site.user.github | prepend: 'https://github.com/' }}">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=-shYRd8AAAAJ&hl=en">Google Scholar</a> /
                <a href="https://twitter.com/shawnyyan">Twitter</a> /
              <a href="{{ site.user.linkedin | prepend: 'https://www.linkedin.com/in/' }}"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
                <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.user.photo }}">
            </td>
          </tr>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr>
          <td style="padding:20px;width:100%;vertical-align:middle">
            <heading>Research</heading>
            <p>
              I'm interested in computer vision, machine learning, optimization, and image processing.
              Much of my research is about inferring the physical world (shape, motion, color, light, etc) from images.
              Representative papers are <span class="highlight">highlighted</span>.
            </p>
          </td>
        </tr>
        </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src='images/Shelhamer2015.jpg'>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://drive.google.com/file/d/1stygV71uBruD7Ck9CaAQr7nREvr3DtUL/view?usp=sharing">
                <papertitle>Scene Intrinsics and Depth from a Single Image</papertitle>
              </a>
              <br>
              <a href="http://imaginarynumber.net/">Evan Shelhamer</a>, <strong>Jonathan T. Barron</strong>, <a href="http://www.eecs.berkeley.edu/%7Etrevor/">Trevor Darrell</a>
              <br>
              <em>ICCV Workshop</em>, 2015
              <br>
              <a href="data/Shelhamer2015.bib">bibtex</a>
              <p></p>
              <p>The monocular depth estimates produced by fully convolutional networks can be used to inform intrinsic image estimation.</p>
            </td>
          </tr>





















        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                <a style="font-size:small;" href="https://jonbarron.info">This guy makes a nice webpage.</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

